body {
	font-family: sans-serif;
	text-align: center;
    background-color: #FAFAFA;
}

.contents {
  margin-left: 10%;
}

.header {
  padding-top: 25px;
}

td.header {
  padding:20px;
}

td.header_menu {
  padding:20px;
  font-size: 20;
}

td.header_login {
  padding:20px;
}

a.header:hover {
  background-color: yellow;
}

a.header:active {
  background-color: yellow;
}

.login {
  font-family: sans-serif;
  border-collapse: collapse;
  border: 0px;
  box-shadow: 5px 5px 10px 3px #888888;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

input:focus {
  outline: none;
}
